#header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	font-size: 2em;
}
.header-title {
	/*margin-left: auto;
	margin-right: auto;*/
	font-weight: bold;
}
#pageContent {
	padding-top: 55px;
}
#pageContent > .container {
	position: relative;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    left: 0;
}
header {
	background-color: #AAA;
	position:relative;
	height: 55px;
}

@media (max-width: 1024px) {
	#header .container {
		max-width: 1024px;
	}
	#nav-menu-container {
		margin: 0;
	}
}

.standard-bug {
	padding: 5px 8px;
	/*background-color: #fce655;*/
	border: 1px solid;
	/*color: #0294f0;*/
	font-size: 0.85em;
	font-weight: bold;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}
/* BEGIN STUDENT NAVIGATION STYLES */

#top-bar {
	color: #000;
	position: fixed;
	width: 100%;
	z-index: 999;
}
#top-student-navigation {
	background-color: #CCC;
	overflow: hidden;
}
#student-list-container {
	overflow: hidden;
}
#student-list-container .list{
    min-width: 99999px;
    float:left;
}
#student-list-container .item{
  padding-top: 10px;
	width: 120px;
	height: 98px;
	float: left;
	position: relative;
}
#student-list-container .student{
	text-align: center;
	cursor: pointer;
}
#student-list-container .imageWrapper {
	background: url(images/student.png) no-repeat 65% 70%;
	padding: 30px;
}
#student-list-container .imageWrapper.evaluation-done {
	background: url(images/evaluation/eval_student_done.png) no-repeat 65% 70%;
}
/* END STUDENT NAVIGATION STYLES */

/* BEGIN EVALUATION CONTENT STYLES */
#report-container {
	margin-top: 98px;
}
#report-container .graph-container,
#report-container .standards-container {
	margin: 30px 0;
}
#report-container .graph-title {
	font-weight: bold;
	font-size: 1.5em;
	/*color: #D30D04;*/
}
#report-container .graph {
	width: 500px;
	height: 500px;
	background-color: #eee;
	margin-top: 30px;
}
#report-container .graph-options {
	text-align: center;
	padding-top: 10px;
}
#report-container .standards-container .standard-breadcrumb {
	font-weight: bold;
	padding-bottom: 10px;
}
#report-container .standards-container .standard-title {
	padding: 10px 0;
	font-size: 1.8em;
	font-weight: bold;
}
#report-container .standards-container .standard-text {
	padding-bottom: 20px;
}
#report-container .standards-container .other-standards-content {
	padding: 10px 0;
}
#report-container .standards-container .other-standards-content span {
	float: left;
	margin: 3px;
}
#report-container .exposures {
	margin: 30px 0;
}
#report-container .exposure-title {
	font-size: 1.5em;
	color: #214A96;
	padding-bottom: 10px;
	font-weight: bold;
}
#report-container .exposure-container {
	padding-bottom: 20px;
}
#report-container .exposure {
	width: 20px;
	height: 20px;
	background-color: #DBDBDB;
	margin: 1px 1px 5px 1px;
	float: left;
}
#report-container .exposure.positive {
	background-color: #008E4C;
}
#report-container .exposure.negative {
	background-color: #E3152A;
}
#differentiation-container .differentiation-title {
	font-size: 1.5em;
	/*color: #214A96;*/
	padding-bottom: 10px;
	font-weight: bold;
}
#differentiation-container .resource {
	margin: 0 10px 5px 0;
	float: left;
	width: 120px;
	height: 120px;
	background-color: #ddd;
}
/* END EVALUATION CONTENT STYLES */
